<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a class="logo-menu" href="{% url 'home' %}"><img src="{% static 'core/logot.png' %}" alt=""></a>
        </div>
        <div class="shape"></div>

    <ul>

    </ul>
</div>
    </div>
<div class="container">
    <div class="wrap">
    {% block content %}

    {% endblock %}
    </div>
</div>
</body>
</html>